{% extends "base.html" %}

{% block title %}User Dashboard{% endblock %}

{% block page_label %}DASHBOARD{% endblock %}

{% block content %}
    <h1>Welcome, {{ username }}!</h1>
    {% if is_admin %}
    <p>You are an admin. <a href="{{ url_for('admin_dashboard') }}">Go to Admin Dashboard</a></p>
    {% else %}
    <p>You are a regular user.</p>
    {% endif %}
    <a href="{{ url_for('logout') }}">Logout</a>
    <a href="{{ url_for('submit_problem') }}">Submit a New Problem</a>
{% endblock %}
