{% extends "base.html" %}

{% block title %}Login - Solve My Problem{% endblock %}

{% block page_label %}LOGIN{% endblock %}

{% block content %}
    <div class="photo">
        <img src="{{ url_for('static', filename='images/solve_my_problem_photo.png') }}" alt="Solve My Problem">
    </div>

    <form method="POST" class="login-form">
        {{ form.hidden_tag() }}
        <label for="username">Username:</label>
        {{ form.username(size=32) }}
        <label for="password">Password:</label>
        {{ form.password(size=32) }}
        <button type="submit">Login</button>
        <button type="button" class="cancel" onclick="window.location.href='{{ url_for('index') }}'">Cancel</button>
    </form>

    <div class="login-messages">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </div>
{% endblock %}
